<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='HS_Trava_Favicon.png') }}">
    <title>HS_Trava</title>
</head>

<body>

    <div class="header-container">
        <div class="header-link"><h5><a href="/">home</a></h5></div>
        <div class="header-link"><h5><a href="/indexpage">dashboard</a></h5></div>
        <div class="header-link right-align"><h5><a href = "/login">login</a></h5></div>
    </div>

    <div class="center-container">

        <div>
            <h2>Enter your email:</h2>
        </div>

        <div>
            <input type="text" class="login-userinfo">
        </div>

        <div class="login-buttons">
            <div><a href = "/"><button class="custom-button" style="margin-right:50px;">go back</button></a></div>
            <div><button class="custom-button">login</button></div>
        </div>

    </div>

</body>